.h2classpage {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  
}

main {
  margin-left: 400px; /* Matches sidebar width */
  margin-right: 100px;
  padding: 2rem;
}

.dashboard-button {
  /* flex: 1; */
  background-color: #FFFFFF;
  padding: 1.5% 4%;
  border-radius: 30px;
  overflow: hidden;
  font-size:1rem;
  font-weight: bold;
}

.classpage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.stat-card {
  flex: 1;
  background-color: #FFFFFF;
  padding: 1rem;
  text-align: center;
}

.stat-value {
    font-size: 5rem;
    margin: 8%;
}

.roster-table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 1rem; */
  table-layout: fixed;
  /* font-weight:bold; */
}

.roster-table th,
.roster-table td {
  padding: 1.5% 5%;
  text-align: center;
  /* border-bottom: 1px solid #ccc; */
  background-color: #FFFFFF;
  /* text-align: left; */
  /* font-family: 'Courier New', Courier; */
  font-size: large;
  padding: 1.5% 5%;

}

/* .grade {
  font-weight: bold;
} */

.rcorners {
  border-radius: 40px;
}

.table-wrapper {
  overflow: hidden;
  border-radius: 30px;
  margin-top: 2rem;
}

.page-layout { 
  background-color: #e4e4e4;
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.h2, .h3 {
  font-family: 'Courier New', Courier, monospace;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.stat-contact {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 10px;
}